/*!
	ALFA v2.9.3
	https://github.com/FAAREIA/ALFA
	- - - - - - - - - - - - - - - -
	Compiled with SASS v3.5.1
	CSS file v0.1
*/
html, body,
header, footer, section, article, aside, nav,
h1, h2, h3, h4, h5, h6,
p, a, span, small, address, time, abbr, blockquote, q, cite,
figure, img,
div, ol, ul, li, dl, dt, dd,
form, fieldset, legend, label, input, select, option, textarea, button,
tr, th, td,
progress, iframe {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top; }

a {
  outline: 0;
  text-decoration: none; }

small {
  font-size: inherit; }

q::before,
q::after {
  content: none; }

cite {
  font-style: normal; }

ol,
ul {
  list-style: none; }

input:focus,
select:focus,
textarea:focus {
  outline: 0; }

input[type="reset"],
input[type="submit"],
button {
  cursor: pointer; }

button {
  background: none;
  outline: 0; }

table {
  border-collapse: collapse; }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf") format("truetype"); }
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); }
:root {
  font-size: 62.5%; }

#header {
  position: relative; }

.column {
  margin: 0 auto;
  max-width: w(grid("columns"), "rem"); }

[class*="col-"] {
  box-sizing: border-box; }

[class*="-pull-"],
[class*="-push-"] {
  position: relative; }

@media (max-width: 112em) {
  :root {
    font-size: 43.75%; } }
body,
input, select, textarea, button {
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem; }

h1, h2, h3, h4, h5, h6,
dt,
legend,
th {
  color: #00c478;
  font-family: Montserrat, sans-serif;
  font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
  dt a,
  legend a,
  th a {
    color: inherit; }

h1, h2, h3, h4, h5, h6,
p, a, span,
img, svg,
div, ol, ul, li, dl, dt, dd,
form, label, input, select, option, textarea, button,
th, td,
progress {
  transition-duration: 0.2s; }

a {
  fill: inherit; }
  a:focus, a:hover {
    color: white; }

.alert {
  box-sizing: border-box;
  display: none;
  padding: 0rem;
  position: relative; }
  .alert.error {
    background: #FA4242;
    color: white;
    fill: white; }
    .alert.error .close:focus, .alert.error .close:hover {
      fill: black; }
  .alert.success {
    background: #40D784;
    color: white;
    fill: white; }
    .alert.success .close:focus, .alert.success .close:hover {
      fill: black; }
  .alert.warning {
    background: #FFCC33;
    color: #3a3a3a;
    fill: #3a3a3a; }
    .alert.warning .close:focus, .alert.warning .close:hover {
      fill: white; }
  .alert.fixed {
    box-shadow: 0 0 0rem black;
    left: 50%;
    max-width: 34.8rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - grid("gutter")/2);
    z-index: 411; }
  .alert h2, .alert h3, .alert h4 {
    color: inherit; }
  .alert .close {
    height: 2.4rem;
    width: 2.4rem; }
    .alert .close svg {
      width: 1rem; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.logotype {
  line-height: 0;
  width: 0rem; }
  .logotype a {
    display: block; }

.modal {
  background: rgba(0, 0, 0, 0.25);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 311; }
  .modal.property > div {
    background: #F10039;
    max-height: none;
    max-width: none;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 7.8rem;
    transform: none;
    width: auto; }
  .modal.property p {
    color: white;
    font-size: 9rem;
    font-weight: 700;
    line-height: 12rem;
    text-transform: uppercase;
    white-space: nowrap; }
  .modal > div {
    background: white;
    box-sizing: border-box;
    left: 50%;
    max-height: calc(100% - grid("gutter")/2);
    max-width: 46.8rem;
    overflow: auto;
    padding: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - grid("gutter")/2); }
  .modal .close {
    fill: white;
    height: 4.2rem;
    width: 4.2rem; }
    .modal .close:focus, .modal .close:hover {
      fill: red; }
    .modal .close svg {
      width: 1.8rem; }

@media print {
  * {
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important; }

  body {
    background: none !important; }

  #header,
  #footer {
    display: none !important; }

  h1, h2, h3, h4, h5, h6,
  dt,
  legend,
  th {
    page-break-inside: avoid; }

  a[href^="http"] {
    text-decoration: underline; }
    a[href^="http"]::after {
      content: " (" attr(href) ")" !important; }

  abbr[title]::after {
    content: " (" attr(title) ")"; }

  img {
    height: auto !important;
    max-width: 100% !important; } }
progress {
  background: black;
  color: red;
  display: block;
  width: 100%; }

progress::-moz-progress-bar {
  background: red; }

progress::-webkit-progress-bar {
  background: black; }

progress::-webkit-progress-value {
  background: red; }

.slideshow {
  height: inherit;
  position: relative; }
  .slideshow .slides {
    height: inherit; }
    .slideshow .slides li {
      height: inherit;
      transition: none;
      width: 100%; }
  .slideshow .previous,
  .slideshow .next {
    fill: black;
    height: 100%;
    min-width: 9.6rem;
    overflow: hidden;
    padding: 0 0rem;
    position: absolute;
    top: 0;
    width: 20%;
    z-index: 111; }
    .slideshow .previous:focus, .slideshow .previous:hover,
    .slideshow .next:focus,
    .slideshow .next:hover {
      fill: white;
      padding: 0 0rem; }
    .slideshow .previous svg,
    .slideshow .next svg {
      margin: 0;
      width: 0rem; }
  .slideshow .previous {
    left: 0; }
  .slideshow .next {
    right: 0; }
    .slideshow .next svg {
      margin-left: auto; }

svg {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: visible;
  width: 100%; }
  svg.inline {
    display: inline-block;
    vertical-align: middle; }

.fade-in {
  animation: 1s fade-in;
  display: block; }

.hide {
  display: none !important; }

.video-responsive {
  position: relative; }
  .video-responsive.ar-4-3 {
    padding-top: 75%; }
  .video-responsive.ar-16-9 {
    padding-top: 56.25%; }
  .video-responsive.ar-21-9 {
    padding-top: 42.857142%; }
  .video-responsive iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

article {
  height: 100vh;
  position: relative;
  width: 100%; }

.image {
  box-sizing: border-box;
  height: 100%;
  padding: 7.2rem 0 34.8rem; }
  .image img {
    height: 100%;
    object-fit: cover;
    width: 100%; }

.bar {
  background: #303030;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 111; }
  .bar ul {
    background: #202020;
    float: right; }
  .bar li {
    color: #e7c478;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3;
    padding: 0 3rem;
    text-transform: uppercase;
    white-space: nowrap; }
    .bar li + li {
      border-left: 0.1rem solid #505050; }

.data {
  background: white;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase; }

.columns {
  display: flex; }

.columns [class*="col-"] {
  padding-left: 1.8rem;
  padding-right: 1.8rem; }

[class*="col-"] {
  box-sizing: border-box;
  display: inline-block; }

.col-6 {
  width: 50%; }

.col-3 {
  width: 25%; }

h1 {
  font-size: 4.8rem;
  line-height: 1;
  padding: 3.1rem 0 0 1.6rem;
  position: relative; }
  h1::before {
    background: #00c478;
    content: "";
    height: 1.8rem;
    left: 1.8rem;
    position: absolute;
    top: 0;
    width: 0.8rem; }

.description {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 1.4rem 0 0 1.8rem;
  text-transform: none; }

.details {
  padding: 2.7rem 0 3.3rem;
  position: relative; }
  .details::before {
    background: #d0d0d0;
    content: "";
    bottom: 0;
    left: 1.7rem;
    position: absolute;
    top: 0;
    width: 0.1rem; }
  .details dd {
    color: #00c478;
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    padding: 2.4rem 3.6rem 0 1.8rem;
    position: relative; }
    .details dd::before {
      background: white;
      border: 0.2rem solid #00c478;
      border-radius: 100%;
      box-sizing: border-box;
      content: "";
      height: 1.1rem;
      left: -0.6rem;
      position: absolute;
      top: 3.1rem;
      width: 1.1rem; }
  .details span {
    color: #6A6A6A;
    font-weight: 300; }
  .details svg {
    fill: #AAAAAA;
    height: 3rem;
    position: absolute;
    right: 0;
    top: 2.2rem;
    width: auto; }
  .details .sup-total svg {
    top: 2.1rem; }
  .details .cocheras svg {
    top: 1.9rem; }
  .details .antiguedad svg {
    top: 1.9rem; }

.ubication-price {
  background: #00c478;
  height: 100%;
  padding: 0 3.6rem;
  text-align: center; }
  .ubication-price p,
  .ubication-price dd {
    color: white;
    fill: white; }

.ubication {
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 3.8rem 0 0; }
  .ubication svg {
    height: 4.4rem;
    margin: 0 0 1.9rem; }

.price {
  border: 0.6rem solid white;
  display: block;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 10.8rem;
  margin: 1.9rem 0 0;
  white-space: nowrap; }

small {
  font-weight: 300;
  line-height: 7.2rem;
  padding: 0 3.6rem;
  white-space: nowrap; }
  small a {
    color: #c0c0c0; }

.tel {
  font-size: 3.6rem; }

.web {
  font-size: 2.1rem;
  margin-left: 2.4rem;
  text-transform: none; }

/*# sourceMappingURL=styles.css.map */
